@import "../../components/mixins";

.swipe-images-component-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  > .swipe-images-component-slides {
    width: 100%;
    height: 100%;
    @include display-flex();
    > .swipe-images-component-slide {
      flex-shrink: 0;
      -webkit-flex-shrink: 0;
      height: 100%;
      position: relative;
      > .swipe-images-component-image {
        height: 100%;
        width: 100%;
        position: relative;
        //@include display-flex();
      }
      img {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        @include transform(translateY(-50%))
        //@include align-items(center);
      }
    }
  }
}
